{% block packaging_type_list %}
    <sw-page class="packaging-type">
        <template slot="smart-bar-header">
            <h2>Packaging Type</h2>
        </template>

        <template slot="content">
            Content comes here
        </template>

        <template slot="smart-bar-actions">
        </template>
    </sw-page>
{% endblock %}